{% extends 'base.html' %} {% block header %}
<h1>{% block title %}Fridge{% endblock %}</h1>
{% if g.user %}
<a class="action" href="{{ url_for('fridgeInterface.create') }}">New</a> {% endif %} {% endblock %} {% block content %} {% for fridge in fridges %}
<article class="post">
    <header>
        <div>
            {% if g.user['id'] == fridge['owner_id'] %}
            <a href="{{ url_for('fridgeInterface.viewItems', id=fridge['id']) }}">
                <h1>{{ fridge['fridgeName'] }}</h1>
            </a>
            <div class="about">by {{ fridge['username'] }} on {{ fridge['created'].strftime('%Y-%m-%d') }}</div>

        </div>

        <a class="action" href="{{ url_for('fridgeInterface.update', id=fridge['id']) }}">Edit</a>
        <a class="action" href="{{ url_for('fridgeInterface.addItem', id=fridge['id']) }}">Add item</a>
        <hr> {% endif %}

    </header>
</article>
{% if not loop.last %} {% endif %} {% endfor %} {% endblock %}